<footer class="footer-container">
    <div class="container">
      <p>&copy; 2025 Animal Gym. Todos los derechos reservados.</p>
      <div class="social-links">
        <a href="https://www.facebook.com/Animalgympabe" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://x.com/animal_FitGym" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/fitnessanimalgym_/" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>

      <p>Creado con pasión por el bienestar y el rendimiento.</p>
      <p>PROYECTO UNIVERSITARIO TEC WEB</p>
    </div>
  </footer>
  