/* Fondo negro sólido y texto neón */
 body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000 !important; /* Fondo completamente negro */
  color: #00FF88;
  font-family: Arial, sans-serif;
}

/* Asegura que el root y componente principal no sobreescriban fondo */
app-root,
app-clase-form-template {
  display: block;
  background-color: transparent;
}